<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="searchDetails">

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group res-mg-t-15">
            <label for="firmNumberSearch">Firm Number</label>
            <input id="firmNumberSearch" name="firmNumberSearch" type="text" class="form-control" placeholder="Search by firm number" />
        </div>
        <div class="form-group res-mg-t-15">
            <label for="firmNameSearch">Firm Name</label>
            <input id="firmNameSearch" name="firmNameSearch" type="text" class="form-control" placeholder="Search by firm name" />
        </div>
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary waves-effect waves-light bigButton" id="btnSearchFirm" onclick="searchFirm(); return false;">Search</button>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div id="searchResults" style="display: none;">


        </div>
        <div id="searchResultsLoading" class="loading">
            <img src="/img/ajaxbig.gif" alt="Loading" />
        </div>
    </div>

</div>

