<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="layout/main">
<head>
    <title>Edit Error Message</title>
</head>
<body>

<th:block layout:fragment="content">

    <script>
        $(document).ready(function(){
            $('#editError').click(function() {
                $.ajax({
                    url: "/dashboard/errors/edit",
                    type: "post",
                    dataType: "json",
                    data: $('#errorForm').serialize(),
                    success: function (result) {
                        window.location.href = '/dashboard/errors';
                    },
                    error: function(result)
                    {
                        alert('Unable to edit error message. Please contact admin.');
                    }
                });

                return false;
            });
        });
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        /*]]>*/

        $(document).ready(function(){
            $('#_csrf_param_name').attr('name', _csrf_param_name);
            $('#_csrf_param_name').val(_csrf_token);
        });
    </script>

    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <form id="errorForm">
                            <div class="form-group">
                                <label class="form-contrl">Edit error message...</label>
                                <label class="form-control" th:text="${error.getKey()}"></label>
                            </div>
                            <div class="form-group">
                                <input name="Key" type="text" class="form-control" placeholder="Key" th:value="${error.getKey()}">
                            </div>
                            <div class="form-group">
                                <input name="Message" type="text" class="form-control" placeholder="Message" th:value="${error.getMessage()}">
                                <input name="id" type="hidden" th:value="${error.getId()}"/>
                                <input name="_csrf_param_name" id="_csrf_param_name" type="hidden" value="" />
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" id="editError" class="btn btn-primary waves-effect waves-light">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</th:block>
</body>
</html>